# Data Loading

In [1]:
import pandas as pd

# load dataset
df = pd.read_csv("../data/superstore.csv")

# view first rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,06-12-2016,6/16/2016,Second Class,DV-13045,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10-11-2015,10/18/2015,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10-11-2015,10/18/2015,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Row ID        9994 non-null   int64
 1   Order ID      9994 non-null   object
 2   Order Date    9994 non-null   object
 3   Ship Date     9994 non-null   object
 4   Ship Mode     9994 non-null   object
 5   Customer ID   9994 non-null   object
 6   Segment       9994 non-null   object
 7   Country       9994 non-null   object
 8   City          9994 non-null   object
 9   State         9994 non-null   object
 10  Region        9994 non-null   object
 11  Product ID    9994 non-null   object
 12  Category      9994 non-null   object
 13  Sub-Category  9994 non-null   object
 14  Product Name  9994 non-null   object
 15  Sales         9994 non-null   float64
 16  Quantity      9994 non-null   int64
 17  Discount      9994 non-null   float64
 18  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(14)
memory usage: 1.4+ MB

# Data Cleaning & Preprocessing

This section cleans the dataset by handling missing values,
removing duplicates, fixing date format, and checking outliers.

In [ ]:
# check missing values
df.isnull().sum()

In [4]:
# check duplicates
df.duplicated().sum()

0

In [5]:
df["Order Date"] = pd.to_datetime(df["Order Date"], format="mixed")

In [6]:
df["Order Date"].head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Row ID        9994 non-null   int64
 1   Order ID      9994 non-null   object
 2   Order Date    9994 non-null   datetime64[ns]
 3   Ship Date     9994 non-null   object
 4   Ship Mode     9994 non-null   object
 5   Customer ID   9994 non-null   object
 6   Segment       9994 non-null   object
 7   Country       9994 non-null   object
 8   City          9994 non-null   object
 9   State         9994 non-null   object
 10  Region        9994 non-null   object
 11  Product ID    9994 non-null   object
 12  Category      9994 non-null   object
 13  Sub-Category  9994 non-null   object
 14  Product Name  9994 non-null   object
 15  Sales         9994 non-null   float64
 16  Quantity      9994 non-null   int64
 17  Discount      9994 non-null   float64
 18  Profit        9994 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(13)
memory usage: 1.4+ MB

In [14]:
df.describe()

,Row ID,Order Date,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355648,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-03 00:00:00,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-23 00:00:00,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-06-26 00:00:00,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-05-14 00:00:00,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,623.245101,2.225110,0.206452,234.260108